/* ===== Demoras (demoras.html) ===== */

@media (min-width: 900px){
  .page-demoras .filters.filters-demoras{
    grid-template-columns: 1.3fr 0.9fr;
  }
}

@media (min-width: 1100px){
  .page-demoras .kpi-grid.kpi-grid-3{
    grid-template-columns: repeat(3, 1fr);
  }
}
